<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>swift</key>
		<array>
			<string>xcode</string>
		</array>
	</dict>
	<dict>
		<key>objectivec</key>
		<array>
			<string>xcode</string>
		</array>
	</dict>
	<dict>
		<key>html</key>
		<array>
			<string>atelier-dune-light</string>
			<string>color-brewer</string>
			<string>googlecode</string>
			<string>atelier-dune-dark</string>
			<string>dark</string>
			<string>foundation</string>
			<string>monokai-sublime</string>
			<string>vs</string>
		</array>
	</dict>
	<dict>
		<key>java</key>
		<array>
			<string>androidstudio</string>
			<string>vs</string>
			<string>googlecode</string>
			<string>pojoaque</string>
		</array>
	</dict>
</array>
</plist>
